* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
	background-color: #8da9c4;
	display: flex;
	flex-direction: column;
}

.menu-container {
	color: #fff;
	display: flex;
	background-color: #134074;
	box-shadow: 0px 5px 5px #888888;
	justify-content: center;
	padding: 20px 0;
	margin-top: 10px;
	font-family: Verdana, Geneva, sans-serif;
}

.menu {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 40px;
}

.menu-left {
	display: flex;	
	justify-content: space-between;
	align-items: center;
}

.menu-left * {
	margin-right: 40px;
}

#searchbox {
	padding: 5px 5px;
	border: 1px solid black;
	border-radius: 3px;
	width: 500px;
	background-color: #eef4ed;
}

.menu > .account {
	display: flex;
	justify-content: flex-end;
}

.log-in {
	margin-left: 20px;
	margin-right: 10px;
}

.body-container {
	display: flex;
	height: 80%;
}

.left-panel, .right-panel {
	flex: 1;
}

.left-panel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.add-member-group {
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #134074;
	border-radius: 4px;
	box-shadow: 0px 5px 5px #888888;
}

#member-name-input {
	margin: 40px 10px;
	padding: 5px 5px;
	border: 1px solid black;
	border-radius: 3px;
	width: 300px;
}

#add-member {
	border-radius: 4px;
	padding: 5px;
	background-color: #eef4ed;
}

.right-panel {
	display: flex;
	flex-flow: column wrap;
}

.member-card {
	font-family: Verdana, Geneva, sans-serif;
	box-shadow: 0px 5px 5px #888888;
	border: 2px solid green;
	background-color: #eef4ed;
	display: flex;
	flex-flow: column;
	padding: 10px;
	margin:  10px;
}